{%  extends 'students/main.html' %}
{% load static %}
{% block content %}
<style>
	#bhy{
		margin-left: 650px;
		margin-right: 650px;
	}

	#sn-btn, #id_university_name, #id_degree, #id_course, #id_level, #id_location{
		width: 100%;
		height: 45px;
	}
	#r{
		background-color: lightblue;
		padding-bottom: 10px;
		padding-top: 10px;
	}

</style>

<section>

	<div class="row" id="r">
		<div class="col">
			<div class="card card-body" id="bhy">
				<form method="get">

					{% for i in myFilter.form %}

						<p>{{i.label}} :</p>
						<p>{{i}}</p>
						<hr>

					{% endfor %}

				<button class="btn btn-primary" id="sn-btn" type="submit">Search</button>
			</form>
			</div>
		</div>
		
	</div>
	<br>

	<div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>University Name</th>
						<th>Degree</th>
						<th>Course</th>
						<th>Location</th>
						<th>Website</th>
					</tr>

					{% for i in univ %}
						<tr>
							<td>{{i.university_name}}</td>
							<td>{{i.degree}}</td>
							<td>{{i.course}}</td>
							<td>{{i.location}}</td>
							<td><a target="_blank" href = "{{i.Website}}"> {{i.Website}} </a></td>        	
						</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>

</section>

{% endblock %}