{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/regis_style.css' %}"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
    <title>Sign Up for University Finder</title>
    <style>
        #mssg{
            color: red;
            font-size: 18px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- This will first contain the header-->
    <div class="main">
        <div class="header">
            <h1 class="head"><a href="{% url 'landing_page' %}">University Finder</a></h1>
        </div>
        <div class="b">
            <button class="but"><a href="{% url 'login' %}"><b>Log In To Existing Account</b></a></button>
        </div>
    </div>

    <!-- This contains the form that has been attached there <input type="text" id="usname" placeholder="Username"> -->
    <div class="create-acc">
        <h1><b><strong>Create a new account </strong></b></h1>
        <p id="it"><i>It's quick and easy.</i></p>

        {% for message in messages %}
            <p id="mssg">{{ message }}</p>
        {% endfor %}

        <form method="POST" action="">
			{% csrf_token %}

            <div class="form-in">
                <input type="text" name="fname" placeholder="First Name">
                <input type="text" name="sname" placeholder="Surname"> 
            </div>

			<input type="text" name="username" id="usname" placeholder="Username">
            
            <input type="password" name="one_p" id="pword" placeholder="New Password">            
            <input type="password" name="second_p" id="re-enter" placeholder="Re-enter Password">

            <p class="dob">Date of Birth</p>

            <div class="sel">
                <select name="date" id="date">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
                <select name="month" id="month">
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>

                <select name="year" id="year">
                    <option value="1988">1988</option>
                    <option value="1989">1989</option>
                    <option value="1990">1990</option>
                    <option value="1991">1991</option>
                    <option value="1992">1992</option>
                    <option value="1993">1993</option>
                    <option value="1994">1994</option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                </select>
            </div>

            <p class="dob">Gender</p>
            <div class="rd-bt">
				
                <label class="container">
                    <input type="radio" value="Male" name="gender" checked="checked">  Male
                </label>
                <label class="container">
                    <input type="radio" value="Female" name="gender" id="fe">  Female
                </label>
                <label class="container">
                    <input type="radio" value="Others" name="gender" id="fe">  Others
                </label> 

            </div>

            <input type="submit" class="button" value="Sign Up">
        </form>
    </div>
</body>
</html>